* {
  box-sizing: border-box;
}
main {
  text-align: center;
  font-family: "Bitter", serif;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #0c1a1a;
  color: white;
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* .nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0c1a1a;
  color: white;
  height: 4rem;
  font-size: 18px;
  width: 100px;
} */

a.nav__links {
  color: white;
  text-decoration: none;
  padding: 100px;
}

.nav__container {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.nav__links:hover {
  background-color: #396662;
}

/* Header*/
.header {
  background-image: url("../img/portfolio-bg.jpg");
  height: 600px;
  color: white;
  margin-top: 100px;
  padding-top: 9%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__title {
  font-size: 44px;
  margin-bottom: 10px;
}

.header__item {
  font-size: 32px;
  margin-top: 10px;
}

.header__link {
  color: white;
  border-bottom: 5px solid #396662;
  font-weight: bold;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.5;
}

/* Project Stages */
.project {
  padding-top: 100px;
}

.project__advert {
  font-size: 18px;
  text-align: center;
  margin-bottom: 5%;
}

.project-stages {
  background-color: #0c1a1a;
  color: white;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5% 2% 5%;
}

.project-stages__items {
  width: 15%;
  font-size: 14px;
  padding: 2px;
  position: relative;
}

.project-stages__titles {
  color: #396662;
  font-weight: 800;
}

.project-stages__circles {
  width: 8rem;
  height: 8rem;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: -10rem;
  left: 30%;
}

/* Skills */
.skills {
  padding: 5% 20% 5% 20%;
}

.skills .heading {
  color: #396662;
  font-size: 42px;
  padding-bottom: 5%;
  margin-top: -1%;
}

.skill__item {
  display: flex;
  width: 100%;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.skill__label {
  width: 20%;
  color: #ffffff;
  background-color: #0c1a1a;
  text-align: center;
  padding: 0.75rem;
}

.skill__progress-bar {
  width: 80%;
  background-color: #ebebeb;
  padding: 0.75rem;
  text-align: right;
  position: relative;
}

.skill__progress {
  background-color: #396662;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.skill__progress_width_60 {
  width: 60%;
}

.skill__progress_width_70 {
  width: 70%;
}

.skill__progress_width_80 {
  width: 80%;
}

/* Portfolio */

.portfolio__header {
  font-size: 48px;
  color: white;
  padding-top: 50px;
}

.portfolio {
  background-color: #396662;
  height: 1000px;
  
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
}

.portfolio__items {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio__box {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-style: solid;
}

.about-me {
  height: 700px;
}

.about-me > h2 {
  font-size: 32px;
  color: #396662;
  margin-top: 75px;
  margin-bottom: 50px;
}

.about-me__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me__img {
  margin: 20px;
  height: 350px;
  width: 350px;
  border-radius: 50%;
}

.about-me__details {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 90px;
  margin-right: 70px;
  padding: 10px;
  height: 200px;
  width: 400px;
}

/* Contact */

.contact {
    background-color: #396662;
    padding: 2%;
}
.form {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 4rem;
}
.form__input {
  width: 48%;
  color: #ffffff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ebebeb;
  outline: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form__label {
  width: 100%;
  color: #ebebeb;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.form__textarea {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.form__button {
  width: 100%;
  color: #ffffff;
  background-color: #232323;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 4rem;
  padding: 0.75rem;
  cursor: pointer;
}